body {
  margin: 0;
  padding: 0;
}

.header-content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
.header-content h2 {
  margin: 0;
}
.header-content .buttons {
  display: flex;
  gap: 0.625rem;
}
.header-content .buttons button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.line {
  margin: 0 auto;
  width: 80%;
  height: 0.125rem;
  background-color: #5d5d5d;
  margin-top: 0.625rem;
}

.form-container {
  margin: 1.25rem auto;
  width: 80%;
  max-width: 45rem;
  background: white;
  padding: 1.875rem;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-container form {
  display: flex;
  flex-direction: column;
}
.form-container form label {
  margin-top: 0.625rem;
  font-weight: bold;
}
.form-container form input, .form-container form select, .form-container form textarea {
  padding: 0.5rem;
  margin-top: 0.3125rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
}
.form-container form textarea {
  resize: vertical;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .line {
  width: 80%;
  height: 0.125rem;
  background-color: #313131;
  margin-top: 0.625rem;
}
.footer h3 {
  margin-top: 0.625rem;
  color: #5d5d5d;
  font-size: 1rem;
  font-weight: 300;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body .card-text {
  margin: 0;
  padding: 0;
}

.delete-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.card {
  border: 1px solid #ddd; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out; 
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.alert {
  transition: opacity 0.5s ease;
  opacity: 1;
}